@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-Regular.ttf');
}

body{
    font-family: 'Montserrat';
}

.bottom_tabs {
    overflow: hidden !important;
    position: fixed;
    bottom: 0px;
  }
  .bottom_tabs a{
      color: #9e9e9e  ;
  }
  .noindicator .indicator {
    display: none;
  }
  
  .bottom_tabs > .tab > a > .material-icons {
    position: relative;
    top: 15%;
  }
  